  {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
  {% # theme-check-disable %}
  {%- assign cart_qty = cart | item_count_for_variant: variant.id -%}

  {% # theme-check-enable %}

<quantity-input class="quantity" data-url="{{ variant.url }}" data-section="{{ section.id }}">
  <button class="quantity__button quantity__minus no-js-hidden" name="minus" type="button" data-handle="{{ variant.handle }}">
    <span class="visually-hidden">
      {{- 'products.product.quantity.decrease' | t: product: variant.title | escape -}}
    </span>
    <svg width="6" height="2" viewBox="0 0 6 2" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.14968 0.350808V1.90668H0.850324V0.350808H5.14968Z" fill="currentColor"/>
    </svg>
  </button>
  <input
    class="quantity__input bundle-products{% if disabled %} unavailable disabled{% endif %}"
    type="number"
    name="quantity-{{ index }}"
    id="Quantity-variant-{{ index }}"
    data-cart-quantity="{{ cart_qty }}"
    data-min="0"
    min="0"
    data-max="{% if variant.inventory_policy == 'deny' %}{{ variant.quantity_rule.max | default: variant.inventory_quantity }}{% endif %}"
    max="{% if variant.inventory_policy == 'deny' %}{{ variant.quantity_rule.max | default: variant.inventory_quantity }}{% endif %}"
    step="1"
    value="0"
    data-id="{{ variant.variants[0].id }}"
    data-title="{{ variant.title }}"
    data-price="{{ variant.price }}"
    disabled
  />
  <button class="quantity__button quantity__plus no-js-hidden{% if disabled %} unavailable disabled{% endif %}" name="plus" type="button" {% if option_disabled %}disabled{% endif %} data-handle="{{ variant.handle }}">
    <span class="visually-hidden">
      {{- 'products.product.quantity.increase' | t: product: variant.title | escape -}}
    </span>
    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.17603 7.48905V0.970973H4.82397V7.48905H3.17603ZM0.740962 5.05398V3.40605H7.25904V5.05398H0.740962Z" fill="currentColor"/>
    </svg>
  </button>
</quantity-input>
