{{ 'component-bundle-card.css' | asset_url | stylesheet_tag }}
{{ 'component-bundle-section.css' | asset_url | stylesheet_tag }}
{% liquid
  assign variants_available_arr = section.settings.collection.products | map: 'available'
%}

<div class="bundle page-width">
  <div class="preview-products">
    {% for i in (1..4) %}
      <div class="preview-product-wrapper">
        <div class="sale-tag">R$ XX,XX</div>
        <div class="preview-product" id="preview-{{ forloop.index }}">
          <div class="preview-image-wrapper">
            <img class="preview-image" src="">
          </div>
          {{- 'icon-locker.svg' | inline_asset_content -}}
        </div>
        <p>
          {{ forloop.index | times: 5 }}% OFF
          {% if forloop.last %} + Frete Grátis{% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
  
  <ul class="bundle-products-wrapper">
    {% for product in section.settings.collection.products %}
      {% liquid
        assign option_disabled = true
        if variants_available_arr[forloop.index0]
          assign option_disabled = false
        endif
      %}
      {% render 'bundle-card', product: product, option_disabled: option_disabled, index: forloop.index0 %}
    {% endfor %}
  </ul>
  
  <div class="bundle-cart-wrapper">
    <ul class="selected-bundle-products">

    </ul>
    <button class="button button--primary" id="add-bundle-products" type="button">Add Products to Cart</button>
  </div>
</div>

<script>
  const productsData = {
    {% for product in section.settings.collection.products %}
      "{{ product.handle }}": {
        id: {{ product.id }},
        variants: [{% for variant in product.variants %}{{ variant.id }}{% unless forloop.last %}, {% endunless %}{% endfor %}],
        options: [{% unless product.has_only_default_variant %}{% for option in product.options_with_values %}{{ option.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endunless %}],
        title: "{{ product.title }}",
        price: {{ product.price }},
        image: "{{ product.featured_image | image_url: width: 200 }}",
        category: "{{ product.category }}"
      },
    {% endfor %}
  };

  function findBeveragePrice(productsData) {
    const productsArray = Object.values(productsData);
    const beverageProduct = productsArray.find(product => product.category === "Bebidas em pó" || product.category === 'Vitaminas e suplementos' );
    return beverageProduct.price;
  }
  
  const beveragePrice = findBeveragePrice(productsData);
  const sticksPerBox = 14;

  document.addEventListener('DOMContentLoaded', function() {
    const selectedProducts = []; // Armazena os IDs dos produtos e suas imagens associadas
    const selectedProductsQty = []; // Armazena os IDs dos produtos e suas quantidades associadas
    const inputs = document.querySelectorAll('.bundle .quantity__input');

    // Função para reforçar mínimo e máximo de quantidade
    function enforceMinMax(el) {
      if (el.value != "") {
        if (parseInt(el.value) < parseInt(el.min)) {
          el.value = el.min;
        }
        if (parseInt(el.value) > parseInt(el.max)) {
          el.value = el.max;
        }
      }
    }

    // Formata número para dinheiro
    function moneyFormat(price) {
      return price.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    }

    // Retorna o índice do último produto que corresponde ao ID
    function findLastProductIndex(productsArray, id) {
      for (let i = productsArray.length - 1; i >= 0; i--) {
        if (productsArray[i].id === id) {
          return i;
        }
      }
      return -1;
    }

    // Função para atualizar as imagens dos previews de produtos selecionados
    function updatePreviewImages() {
      const preview_images = document.querySelectorAll('.preview-product');

      preview_images.forEach(preview => {
        preview.classList.remove('active');
        preview.querySelector('.preview-image').src = "";
      });

      selectedProducts.forEach((product, index) => {
        if(index < 4) {
          preview_images[index].classList.add('active');
          preview_images[index].querySelector('.preview-image').src = product.image;
        }
      });
    }

    // Função para atualizar a lista de produtos selecionados
    function updateSelectedProductsList() {
      const selectedProductsList = document.querySelector('.selected-bundle-products');
      selectedProductsList.innerHTML = '';
      
      const qty = selectedProducts.length;
      let discount = 1;

      switch (qty) {
        case 1:
          discount = 0.95; // 5% de desconto
          break;
        case 2:
          discount = 0.90; // 10% de desconto
          break;
        case 3:
          discount = 0.85; // 15% de desconto
          break;
        default:
          if (qty >= 4) {
            discount = 0.80; // 20% de desconto para 4 itens ou mais
          }
          break;
      }

      let totalPrice = 0;
      let totalDiscountedPrice = 0;

      // Adiciona a quantidade, o título e o preço sem desconto e com desconto de cada produto selecionado
      selectedProductsQty.forEach(item => {
        const product = productsData[item.handle];

        const regularPrice = (item.quantity*product.price/100);
        const discountedPrice = (discount*item.quantity*product.price/100);
        totalPrice += regularPrice;
        totalDiscountedPrice += discountedPrice;

        const listItem = document.createElement('li');
        listItem.innerHTML = `
          <div class="bundle-cart-item-info">
            ${item.quantity}x
            <span>${product.title.split('- ').length > 1 ? product.title.split('- ')[1] : product.title.split('- ')[0]}</span>
          </div>
          <div class="bundle-cart-item-price">
            <s>${moneyFormat(regularPrice)}</s>
            ${moneyFormat(discountedPrice)}
          </div>
        `;
        selectedProductsList.appendChild(listItem);
      });

      // Adiciona div com preço por stick e preço total se quantidade de produtos selecionados > 0
      if(qty > 0) {
        const price_per_unit = document.createElement('div');
        price_per_unit.innerHTML = `
          <span>Você ganhou ${((1 - discount)*100).toFixed(0)}% OFF</span>
          <div class="bundle-cart-price">
            ${moneyFormat(beveragePrice*discount/(100*sticksPerBox))} por stick
            <div class="bundle-total-price">
              <s>${moneyFormat(totalPrice)}</s>
              ${moneyFormat(totalDiscountedPrice)}
            </div>
          </div>
        `;
        selectedProductsList.appendChild(price_per_unit);
      }
    }

    inputs.forEach((item, i) => {
      item.addEventListener('change', function() {
        enforceMinMax(this);

        if(this.value > 0) {
          product_wrapper[i].classList.remove('not-chosen');
        } else {
          product_wrapper[i].classList.add('not-chosen');
        }
      })
    })

    // Adicionar produto quando clicar no +
    const quantity_plus = document.querySelectorAll('.quantity__plus');
    quantity_plus.forEach((plus) => {
      plus.addEventListener('click', () => {
        const productHandle = plus.dataset.handle;
        const product = productsData[productHandle];
        
        selectedProducts.push({
          id: product.variants[0],
          image: product.image
        });

        updatePreviewImages();

        const existingProduct = selectedProductsQty.find(element => element.id === product.variants[0]);

        if (existingProduct) {
          existingProduct.quantity += 1;
        } else {
          selectedProductsQty.push({
            id: product.variants[0],
            quantity: 1,
            handle: productHandle
          });
        }

        updateSelectedProductsList();
      });
    });

    // Remover produto quando clicar no -
    const quantity_minus = document.querySelectorAll('.quantity__minus');
    quantity_minus.forEach((minus) => {
      minus.addEventListener('click', () => {
        const productHandle = minus.dataset.handle;
        const product = productsData[productHandle];

        const productIndex = findLastProductIndex(selectedProducts, product.variants[0]);
        if (productIndex !== -1) {
          selectedProducts.splice(productIndex, 1);
        }

        updatePreviewImages();

        const existingProduct = selectedProductsQty.find(element => element.id === product.variants[0]);
        
        if(!existingProduct) {
          return;
        }

        if (existingProduct.quantity > 1) {
          existingProduct.quantity -= 1;
        } else {
          const indexToRemove = selectedProductsQty.findIndex(element => element.id === product.variants[0]);  
          selectedProductsQty.splice(indexToRemove, 1);
        }

        updateSelectedProductsList();
      });
    });

    document.getElementById('add-bundle-products').addEventListener('click', function() {
      const data = {
        items: selectedProductsQty
      };

      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(cart => {
        console.log('Cart updated:', cart);
      })
      .catch(error => {
        console.error('Error adding products to cart:', error);
      });
    });
  });

</script>

{% schema %}
  {
    "name": "Bundle Black Friday",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Bundle products collection"
      }
    ]
  }
{% endschema %}
